@{
    // Lấy giá trị của Session "user"
    var userSession = Context.Session.GetString("user");
    User user = null;

    // Kiểm tra nếu Session "user" không tồn tại
    if (string.IsNullOrEmpty(userSession))
    {
        <script>
            window.location.href = '/Home/Login'; // Chuyển hướng bằng JavaScript
        </script>
    }
    else
    {
        // Deserialize JSON về đối tượng User
        user = Newtonsoft.Json.JsonConvert.DeserializeObject<User>(userSession);
    }
}

<!-- Navbar -->
<div class="navbar">
    <div class="brand">Admin Panel</div>
        <div class="admin-info">Hello, admin @user.Fullname!</div>
</div>
<!-- Menu bên trái -->
<div class="sidebar">
    <h2>Admin Dashboard</h2>
    <ul>
        <li><a asp-controller="Admin" asp-action="Index">Tổng quan</a></li>
        <li><a asp-controller="Admin" asp-action="ManagerUser">Quản lý người dùng</a></li>
        <li><a asp-controller ="Admin" asp-action="ManagerProduct">Quản lý sản phẩm</a></li>
        <li><a asp-controller="Admin" asp-action="ManagerCategory">Quản lý danh mục</a></li>
        <li><a asp-controller="Admin" asp-action="ManagerOrder">Quản lý đơn hàng</a></li>
        <li><a asp-controller="Admin" asp-action="ManagerProduct">Quản lý thẻ giảm giá</a></li>
        <li><a asp-controller="Home" asp-action="Login">Đăng xuất</a></li>
    </ul>
</div>