body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Chiều cao tối thiểu của trang */
}


footer {
    margin-top: auto;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    min-height: 100px;
}
