.card-hover {
	transition: transform 0.3s;

}

.card-hover:hover {
	transform: translateY(-10px);
}



.card-title, .card-text {
  white-space: nowrap;         /* Không cho xuống hàng */
  overflow: hidden;            /* Ẩn phần tràn ra */
  text-overflow: ellipsis;     /* Hiển thị dấu "..." nếu nội dung quá dài */
}

.card-title {
  max-width: 100%;             /* Đảm bảo chiều rộng tối đa của tiêu đề */
}

.card-text {
  max-width: 100%;             /* Đảm bảo chiều rộng tối đa của mô tả */
}