.snowflake {
    position: absolute;
    top: -10%;
    left: calc(1% + var(--randomX));
    animation: fall linear infinite 10s;
}

@keyframes fall {
    0% {
        top: -10%;
        opacity: 1;
    }

    100% {
        top: 110%;
        opacity: 0;
    }
}
