@{
    // Lấy giá trị của Session "id"
    var userSession = Context.Session.GetString("user");

    // Nếu Session có dữ liệu, chuyển JSON về đối tượng
    dynamic user = userSession != null ? Newtonsoft.Json.JsonConvert.DeserializeObject(userSession) : null;
}

<!-- Navbar -->
<div class="navbar">
    <div class="brand">Admin Panel</div>
    <div class="admin-info">Hello, admin @user.Fullname!</div>
</div>
<!-- Menu bên trái -->
<div class="sidebar">
    <h2>Admin Dashboard</h2>
    <ul>
        <li><a asp-controller="Admin" asp-action="Index">Tổng quan</a></li>
        <li><a asp-controller="Admin" asp-action="ManagerUser">Quản lý người dùng</a></li>
        <li><a asp-controller ="Admin" asp-action="ManagerProduct">Quản lý sản phẩm</a></li>
        <li><a href="/Admin/Categories">Quản lý danh mục</a></li>
        <li><a href="/Home/Logout">Đăng xuất</a></li>
    </ul>
</div>